{% comment %} Announcement Bar {% endcomment %}
{% if section.settings.announcement_text != blank %}
  <div class="announcement-bar" style="background-color: {{ section.settings.bg_color }}">
    <p>{{ section.settings.announcement_text }}</p>
    
    {% if section.settings.button_text != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="announcement-btn">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Welcome to our store!"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffcc00"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}

{% style %}
.announcement-bar {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  max-width:90%;
  margin:auto;
  border-radius: 16px;
  top: 14px;
    position: relative;
}

.announcement-btn {
  display: inline-block;
  margin-left: 10px;
  padding: 8px 12px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 56px;
      font-size: 12px;
    font-weight: bold;
  color:#525252;
  background:white;
}

.announcement-btn:hover {
  background: #333;
}
  p{
        margin: 0px;

  }
{% endstyle %}
